<!-- Main Section -->
<section id="services">
    <div class="container">
        <h3 class="section-subheading text-muted">
            Om navigeringen
        </h3>
        <p>Ovan bläddrar du mellan ditt Team, Uppgifter, Poängtavla, Konferensen och Festen. Svårare än så är det inte! </p>
        <h3 class="section-subheading text-muted">Om tävlingen</h3>
        <p>
            Vad är väl en konferens utan en tävling? Varje uppgift ni utför ger ert lag poäng som om svaret vore rätt. 
            Ni kan i realtid följa poängställningen direkt i appen. 
            När kvällen är över samlar vi ihop era svar och rättar dem. 
            Poängen är med andra ord ungefärlig - har ni svarat fel kommer vi dra bort poängen för den frågan då vi rättar. 
            Vinnarna presenteras efter konferensen och har ett finfint pris att se fram emot. 
        </p>
        <h3 class="section-subheading text-muted">Om appen</h3>
        <p>
            Under planeringen av konferensen och flyttfesten kom denna app som en idé för att vi alla hos Alten Sverige ska kunna lära känna varandra 
            och få kontakt över avdelningar och städer, utan att vi fysiskt behöver vara på samma ställe. 
            Vi ville också ha något som ni långväga gäster kan göra på resande fot, så passa gärna på att utforska uppgifterna under resan.  
            Efter kontakt med Information Systems har sedan en månad tillbaka ett in-houseteam av konsulter arbetat med att utforma appen.
        </p>
        
        <h3 class="section-subheading text-muted">Om appteamet</h3>
        <p>
            Utvecklingsteamet har bestått av konsulter från Göteborgskontoret på uppdrag av Malin Abrahamsson och Andreas Johansson. 
            Projektledare: Lisa Engkvist. Utvecklare: Khaled Alnawasreh, Vasileios Golematis, Mattias Isene och Evelina Vorobyeva. Design: Viktor Östin. 
            Server och testning: Said Seddiki och Mark Crossley. 
            Stort tack till IT som hjälpt till i vått och torrt trots rådande flytt! 
        </p>
        <h3 class="section-subheading text-muted">Om CrowdCam</h3>
        <p>
             CrowdCam är en fotoapp för event där vi alla kan ladda upp och dela bilder under kvällen med eventkoden #destinationlindholmen. I CrowdCam kan ni också se alla instagrambilder 
             som taggats med #destinationlindholmen, #alten och #altensweden. Bilderna som laddas upp syns bara för oss på Alten. Appen stöds både av iOS (<a href="https://itunes.apple.com/us/app/crowdcam-wedding-event-photowall/id873638906?mt=8" target="_blank">laddas ner här</a>) och 
             Android (<a href="https://play.google.com/store/apps/details?id=co.crowdcam.crowdcam&hl=sv" target="_blank">laddas ner här</a>). 
        </p>
        <h3 class="section-subheading text-muted">Hjälp</h3>
        <p>
            Under konferensen hittar ni oss i Altens monter där vi kan hjälpa er med inloggning och svara på frågor om applikationen.
        </p>
        
        <br><br>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h3 class="section-subheading text-muted">Följ Alten via sociala medier!</h3>
            <br>
            <ul class="list-inline social-buttons">
                <li><a href="https://twitter.com/altensweden" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/altensweden" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/company/alten-sweden" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>
