<!-- Main Section -->
<section id="services">
    <div class="container">
        
        <div class="jumbotron" ng-show="rules">
            <h3>Regler</h3>
            Under dagen har ni ett antal uppgifter att lösa, alla med varierande svårighetsgrad och form. Vissa passar bra på resan till Göteborg, andra är lättare att göra på plats. Lös så många ni vill, på vilket sätt ni vill! Nyckelordet för samtliga uppgifter är ärlighet. Varje avklarad uppgift ger poäng. Är det just ditt lag som ska gå ut som segrare ur poängjakten krävs mer än att bara bocka för uppgifterna, ni måste självklart också kunna visa att ni utfört dem. Hur ni väljer att dokumentera är upp till er, men domarna kräver bevis.  Inget fusk, med andra ord!
            <p>
                <button type="button" class="btn btn-primary" ng-model="rules" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Stäng
                </button>
            </p>
        </div>
        

        <h3>Gör själv</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 1} " is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
        <h3>Lär känna ditt team</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 2} " is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
        <h3>Kluringar</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 3}" is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
        <h3>På festen</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 4} " is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
    </div>
</section>