<!-- Main Section -->
<section id="tasks">
    <div ng-show="loading && !failDb"><img ng-src="../img/loading_spinner.gif" class="text-center" /></div>
    <div ng-show="!loading && failDb"><span class="text-center">{{failDbMessage}}</span></div>
    <div ng-show="!loading && !failDb"class="container">
        
        <div class="jumbotron" ng-show="rules ">
            <h3>Regler</h3>
            Låt tävlingen börja! Under dagen har ni ett antal uppgifter att lösa tillsammans i teamet, 
            alla med varierande svårighetsgrad och form. De flesta kan ni göra när ni vill, men vissa passar bättre vid kvällens festligheter. 
            Lös så många ni vill, på vilket sätt ni vill! Varje uppgift ni utför ger poäng baserat på hur komplex uppgiften är. 
            De flesta uppgifterna kräver samarbete, så när någon i laget skickat in uppgiften från sin enhet får hela teamet poäng och 
            uppgiften markeras som klar för samtliga. Jämför hur långt ni kommit jämfört med andra lag i Poängtavlan! 
            När eventet är över kommer era svar rättas och vinnarna har finfina priser att se fram emot. Nu kör vi!
            <p>
                <button type="button" class="btn btn-primary" ng-model="rules" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Stäng
                </button>
            </p>
        </div>
        
        <h3>Gör själv</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 1} " is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
        <h3>Lär känna ditt team</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 2} " is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
        <h3>CrowdCam</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 3}" is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
        <h3>Kluringar</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 4} " is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
        <h3>CrowdCam på festen</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 5} " is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
        <h3>På festen</h3>
        <div>
            <uib-accordion>
                <uib-accordion-group ng-repeat="t in assignments.tasks | filter : {taskTheme: 6} " is-open="t.open">

                    <div ng-include="'partials/task_accordion.html'"></div>

                </uib-accordion-group>
            </uib-accordion>
        </div>
        
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>