<!-- Footer -->
<nav class="nav navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <ul class="nav navbar-brand navbar-left">
                <li>{{team.teamName}}</li>
            </ul>
        </div>
        
        <div class="navbar-footer pull-right">
            <ul class="nav navbar-brand navbar-right">
                <li><b>{{team.score}}p</b></li>
            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>

