<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="list-inline social-buttons">
                    <li><a href="#https://twitter.com/altensweden"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#https://www.facebook.com/altensweden"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#https://www.linkedin.com/company/alten-sweden"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
