<!-- Main Section -->
<section id="party">
    <div class="container">
        <!--<div class="jumbotron" ng-show="rules">
            <h3>Regler</h3>
            Under dagen har ni ett antal uppgifter att lösa, alla med varierande svårighetsgrad och form. Vissa passar bra på resan till Göteborg, andra är lättare att göra på plats. Lös så många ni vill, på vilket sätt ni vill! Nyckelordet för samtliga uppgifter är ärlighet. Varje avklarad uppgift ger poäng. Är det just ditt lag som ska gå ut som segrare ur poängjakten krävs mer än att bara bocka för uppgifterna, ni måste självklart också kunna visa att ni utfört dem. Hur ni väljer att dokumentera är upp till er, men domarna kräver bevis.  Inget fusk, med andra ord!
            <p>
                <button type="button" class="btn btn-primary" ng-model="rules" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Stäng
                </button>
            </p>
        </div>-->
        <div class="row team-name">
            <table>
                <tr class="small-margin">
                    <td class="section-heading bottom">
                        <h5>Tider</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="icon-hard-size" src="img/food.png">
                    </td>
                    <td>
                        <p  class="no-margin">20:30</p>
                        <p class="text-weighted small-margin">Mat</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="icon-hard-size" src="img/dancefloor_bar.png">
                    </td>
                    <td>
                        <p  class="no-margin">20:30 - 22:00 </p>
                        <p class="text-weighted small-margin">Alten DJ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="icon-hard-size" src="img/floor4-11.png">
                    </td>
                    <td>
                        <p  class="no-margin">22:00</p>
                        <p class="text-weighted small-margin">Våning 4 stänger</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="icon-hard-size" src="img/dancefloor_bar.png">
                    </td>
                    <td>
                        <p  class="no-margin">22:00 - 02:00</p>
                        <p class="text-weighted small-margin">DJ Ronny Reked</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="icon-hard-size" src="img/food.png">
                    </td>
                    <td>
                        <p  class="no-margin">23:00 - 23:45</p>
                        <p class="text-weighted small-margin">Liveband Rock Circus</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="icon-hard-size" src="img/food.png">
                    </td>
                    <td>
                        <p  class="no-margin">00:15 - 01:00</p>
                        <p class="text-weighted small-margin">Liveband Rock Circus</p>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row team-name">
            <table>
                <tr>
                    <td class="section-heading bottom">
                        <h5>Våningsplan</h5>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6 toppadding">
                <img class="party-map" src="img/plan6_party.png">
            </div>
            <div class="col-sm-6 toppadding">
                <table>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/whisky_bar.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Whiskeybar & Lounge</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/rnb_hiphop_dancefloor.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;RnB & Hiphop dansgolv</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/ping_pong.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Pingis</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/outdoor_space.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Uteplats</h6>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row margin-above-image">
            <div class="col-sm-6 toppadding">
                <img class="party-map" src="img/plan5_party.png">
            </div>
            <div class="col-sm-6 toppadding">
                <table>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/silent_disco.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Silent Disco</h6>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row margin-above-image"> 
            <div class="col-sm-6 toppadding">
                <img class="party-map" src="img/plan4_party.png">
            </div>
            <div class="col-sm-6 toppadding">
                <table>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/bar.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Bar</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/circus_activities.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Cirkusaktiviteter</h6>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row margin-above-image">
            <div class="col-sm-6 toppadding">
                <img class="party-map" src="img/golvplan_party.png">
            </div>
            <div class="col-sm-6 toppadding">
                <table>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/food.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Restaurang & Bar</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/dancefloor_bar.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Dansgolv & Bar</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-hard-size" src="img/main_entrance.png">
                        </td>
                        <td class="vertical-al-text">
                            <h6 class="text-weighted">&nbsp;&nbsp;Huvudentré & Foajé</h6>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <uib-accordion>
            <uib-accordion-group ng-repeat="t in assignments.tasks" is-open="t.open">
                <uib-accordion-heading> 
                    <div>Vån {{t.id}}: <span><img src="img/logos/wordpress.jpg" class="col-xs-12"></span></div>
                </uib-accordion-heading>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
            </uib-accordion-group>
        </uib-accordion>
        
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>