<!-- Main Section -->
<section id="party">
    <div class="container">
        
        <div class="jumbotron" ng-show="rules">
            <h3>Festen</h3>
             Ni är nyfikna - vi förstår - men ge er till tåls till efter 19:00 och vi lovar att ni kommer att få uppleva en spektakulär kväll!
             Festen stänger kl 02.
             
            <p>
                <button type="button" class="btn btn-primary" ng-model="rules" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Stäng
                </button>
            </p>
        </div>

        <uib-accordion>
            <uib-accordion-group ng-repeat="t in assignments.tasks" is-open="t.open">
                <uib-accordion-heading> 
                    <div>Vån {{t.id}}: <span><img src="img/logos/wordpress.jpg" class="col-xs-12"></span></div>
                </uib-accordion-heading>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
            </uib-accordion-group>
        </uib-accordion>
        
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>