<!-- Main Section -->
<section id="party">
    <!-- Take this div and put it on top of the screen before 19:00 -->
    <div class="container" ng-show="!partyStarted">
        <div class="cover">
            <h3>Festen öppnar 19:00...</h3>
            <p> Besök denna sida efter 19:00 och du kommer att få en trevlig överraskning. </p>
            <h2> {{countDownTimer}}</h2>
        </div>
    </div>
    <div class="container"  ng-show="partyStarted">
        <div class="row team-name">
            <table>
                <tr class="small-margin">
                    <!--<td class="tid section-heading bottom">-->
                    <td class="tid section-heading">
                        <p class="element-heading">Tider</p>
                    </td>
                </tr>
            </table>
            <table class="table table-responsive">
                <tr>
                    <td class="event">
                        <img class="icon-hard-size" src="img/food.png">
                    </td>
                    <td class="event">
                        <p  class="no-margin">20:30</p>
                        <p class="text-weighted small-margin">Mat</p>
                    </td>
                </tr>
                <tr>
                    <td class="event">
                        <img class="icon-hard-size" src="img/dancefloor_bar.png">
                    </td>
                    <td class="event">
                        <p  class="no-margin">20:30 - 22:00 </p>
                        <p class="text-weighted small-margin">Alten DJ</p>
                    </td>
                </tr>
                <tr>
                    <td  class="event">
                        <img class="icon-hard-size" src="img/floor4-11.png">
                    </td>
                    <td  class="event">
                        <p  class="no-margin">22:00</p>
                        <p class="text-weighted small-margin">Våning 4 stänger</p>
                    </td>
                </tr>
                <tr>
                    <td  class="event">
                        <img class="icon-hard-size" src="img/dancefloor_bar.png">
                    </td>
                    <td  class="event">
                        <p  class="no-margin">22:00 - 02:00</p>
                        <p class="text-weighted small-margin">DJ Ronny Reked</p>
                    </td>
                </tr>
                <tr>
                    <td  class="event">
                        <img class="icon-hard-size" src="img/food.png">
                    </td>
                    <td  class="event">
                        <p  class="no-margin">23:00 - 23:45</p>
                        <p class="text-weighted small-margin">Liveband Rock Circus</p>
                    </td>
                </tr>
                <tr>
                    <td  class="event">
                        <img class="icon-hard-size" src="img/food.png">
                    </td>
                    <td  class="event">
                        <p  class="no-margin">00:15 - 01:00</p>
                        <p class="text-weighted small-margin">Liveband Rock Circus</p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- Floor 6 -->
        <div class="row team-name toppadding">
            <table>
                <tr>
                    <td class="tid section-heading bottom">
                        <p class="element-heading">Plan 6</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6 break-padding">
                <table>
                    <tr>
                        <td class="event-vaning">
                            <img class="party-map" src="img/plan6_party-04.png">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6 break-padding">
                <table>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/whisky_bar.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <!--<h6 class="text-weighted">&nbsp;&nbsp;Whiskeybar & Lounge</h6>-->
                            <p class="text-weighted">&nbsp;&nbsp;Whiskeybar & Lounge</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/rnb_hiphop_dancefloor.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;RnB & Hiphop dansgolv</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/ping_pong.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;Pingis</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/outdoor_space.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;Uteplats</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Floor 5 -->
        <div class="row team-name toppadding">
            <table>
                <tr>
                    <td class="tid section-heading bottom">
                        <p class="element-heading">Plan 5</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6 break-padding">
                <table>
                    <tr>
                        <td class="event-vaning">
                            <img class="party-map" src="img/plan5_party-03.png">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6 break-padding">
                <table>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/silent_disco.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;Silent Disco</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Floor 4 -->
        <div class="row team-name toppadding">
            <table>
                <tr>
                    <td class="tid section-heading bottom">
                        <p class="element-heading">Plan 4</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row"> 
            <div class="col-sm-6 break-padding">
                <table>
                    <tr>
                        <td class="event-vaning">
                            <img class="party-map" src="img/plan4_party-02.png">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6 break-padding">
                <table>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/bar.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;Bar</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/circus_activities.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;Cirkusaktiviteter</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Floor Base -->
        <div class="row team-name toppadding">
            <table>
                <tr>
                    <td class="tid section-heading bottom">
                        <p class="element-heading">Golvplan</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6 break-padding">
                <table>
                    <tr>
                        <td class="event-vaning">
                            <img class="party-map" src="img/golvplan_party-01.png">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6 break-padding">
                <table>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/food.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;Restaurang & Bar</p>
                        </td>
                    </tr>
                    <tr>
                        <td  class="event-vaning">
                            <img class="icon-hard-size" src="img/dancefloor_bar.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;Dansgolv & Bar</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="event-vaning">
                            <img class="icon-hard-size" src="img/main_entrance.png">
                        </td>
                        <td class="event-vaning vertical-al-text">
                            <p class="text-weighted">&nbsp;&nbsp;Huvudentré & Foajé</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <uib-accordion>
            <uib-accordion-group ng-repeat="t in assignments.tasks" is-open="t.open">
                <uib-accordion-heading> 
                    <div>Vån {{t.id}}: <span><img src="img/logos/wordpress.jpg" class="col-xs-12"></span></div>
                </uib-accordion-heading>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
                Bla bla bla<br/>
            </uib-accordion-group>
        </uib-accordion>
        
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>