<!-- Main Section -->
<section id="schedule">
    <div class="container">
            <table class="table table-responsive">
                <thead>
                    <th>TID</th>
                    <th>AKTIVITET</th>
                </thead>
                <tr>
                    <td>11:30</td>
                    <td>Virtuell Interaktion och Lunch</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td>David på Scenen</td>
                </tr>
                <tr>
                    <td>13:30</td>
                    <td>Virtuell Interaktion och Fikapaus</td>
                </tr>
                <tr>
                    <td>15:15</td>
                    <td>Branschpanelen</td>
                </tr>
                <tr>
                    <td>16:15</td>
                    <td>Virtuell Interaktion och Fikapaus</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>Inspirationsföreläsning</td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td>Ombyte och Drink i Baren</td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>Buss till Festen</td>
                </tr>
            </table>
    </div>
</section>