<!-- Main Section -->
<section id="schedule">
    <div class="container">
            <table class="table table-responsive">
                        <tr>
                            <td class="tid">
                                <div class="element-heading">11:30 Clarion Post</div>
                                <div class="element-text"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="event">
                                <span class="text-weighted">Lunch och Virtuell Interaktion i appen</span>
                                <br>
                                <p class="eventinfo">Ät lunch och lär känna ditt team, lös kluringar, ta foton och tävla om finfina priser genom att lösa uppgifter här i webappen.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="event">
                                <span class="text-weighted">David Ljungström välkomnar</span>
                                <p class="eventinfo">Vår egen VD startar dagen med ett välkomsttal från scenen.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="event">
                                <span class="text-weighted">Alten Case</span>
                                <br>
                                <p class="eventinfo">Ta del av lyckade projekt i presentationer från några av våra medarbetare.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="rast">
                                <span class="text-weighted">Fikapaus</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tid">
                                <div class="element-heading">Andra passet</div>
                                <div class="element-text"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="event">
                                <span class="text-weighted">Branschpanelen</span>
                               <br>
                               <p class="eventinfo">Vi har bjudit in några av våra största kunder för att ta pulsen på konsultbranschen och samtala kring deras branscher. </p>
                            </td>
                        </tr>
                        
                         <tr>
                            <td class="rast">
                                <span class="text-weighted">Power break</span>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="event">
                                <span class="text-weighted">Inspirationsföreläsning</span>
                                <br>
                                <p class="eventinfo"> Lyssna till en inspirerande talare som genom mod och ett 
                                    ”djävlar anamma” skapat extraordinära produkter som omgivningen från början aldrig kunnat tro vara möjliga.
                                </p>
                            </td>
                        </tr>
                        
                       <tr>
                            <td class="tid">
                                <div class="element-heading">18:00 Dagen avslutas</div>
                                <div class="element-text"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="event">
                                <span class="text-weighted"> Ombyte och AW i Baren</span>
                                <br>
                                <p class="eventinfo"> Svida om till partystassen och starta kvällen med en drink i baren.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="tid">
                                <div class="element-heading">19:00 Buss till Festen</div>
                                <div class="element-text"></div>
                            </td>
                        </tr>
            </table> 
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>