<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section id="scoreboard">
    <div class="container">
        <!-- Score descriptions -->
        <div>
            <table class="table table-responsive">
                <thead>
                    <th>Nr.</th>
                    <th class="break-padding">Team</th>
                    <th class="text-right">Poäng</th>
                </thead>
                <tr ng-repeat="teamAndScore in allTeams | orderBy : '-teamScore'">
                    <td>{{$index+1}}</td>
                    <td class="break-padding">{{teamAndScore.teamName}} ({{teamAndScore.teamId}})</td>
                    <td class="text-right">{{teamAndScore.teamScore + "p"}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>
