<section id="scoreboard">
    
    <!--<div ng-show="loading && !failDb"><img ng-src="../img/loading_spinner.gif" class="spinningwheel" /></div>-->
    <div ng-show="loading && !failDb"><div class="spinner-loader spinningwheel"></div></div>
    <div ng-show="!loading && failDb"><span class="text-center">{{failDbMessage}}</span></div>
    <div class="container" ng-show="!loading && !failDb">
        <!-- Score descriptions -->
        <div>
            <table class="table table-responsive">
                <thead class="tid">
                    <th>Nr.</th>
                    <th class="break-padding">Team</th>
                    <th class="text-right">Poäng</th>
                </thead>
                <!--<tr ng-repeat="teamAndScore in allTeams | orderBy : '-teamScore'" ng-class="'my-team'">-->
                    <td>
                        <p>94</p>
                    </td>
                    <td class="break-padding">There will be blood oranges</td>
                    <td class="text-right">666</td>
                <!--</tr>-->
            </table>
        </div>
        <div>
            <table class="table table-responsive">
                <thead class="tid">
                    <th>Nr.</th>
                    <th class="break-padding">Team</th>
                    <th class="text-right">Poäng</th>
                </thead>
                <tr ng-repeat="teamAndScore in allTeams | orderBy : '-teamScore'" ng-class="{myTeam: isThisMyTeam(teamAndScore)}">
                    <td>{{$index + 1}}</td>
                    <td class="break-padding">{{teamAndScore.teamName}} ({{teamAndScore.teamId}})</td>
                    <td class="text-right">{{teamAndScore.teamScore + "p"}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>