<section id="scoreboard">
    <!--<div ng-show="loading && !failDb"><img ng-src="../img/loading_spinner.gif" class="spinningwheel" /></div>-->
    <div class="spinningwheel">
        <div ng-show="loading && !failDb" class="spinner-loader"></div>
        <div ng-show="!loading && failDb">
            <span class="text-center">{{failDbMessage}}</span>
        </div>
    </div>
        <div class="container" ng-show="!loading && !failDb">
        <!-- Score descriptions -->
        <div>
            <table class="table table-responsive">
                <thead class="tid">
                    <th>Nr.</th>
                    <th>Team</th>
                    <th class="text-right">Poäng</th>
                </thead>
                <tr ng-repeat="teamAndScore in allTeams | orderBy : '-teamScore'" ng-class="{myTeam: isThisMyTeam(teamAndScore)}">
                    <td class="event">{{$index + 1}}</td>
                    <td class="event break-padding">{{teamAndScore.teamName}} ({{teamAndScore.teamId}})</td>
                    <td class="event text-right">{{teamAndScore.teamScore + "p"}}p</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>