<table class="table-condensed table-striped">
    <tr>
        <td><input type="checkbox" ng-checked="t.done" ng-click="" />&nbsp;</td>
        <td>A - </td>
        <td></td>
    </tr>
    <tr>
        <td><input type="checkbox" ng-checked="t.done" ng-click="" />&nbsp;</td>
        <td>B</td>
        <td>bla bla </td>
    </tr>
    <tr>
        <td><input type="checkbox" ng-checked="t.done" ng-click="" />&nbsp;</td>
        <td>C</td>
        <td>bla bla </td>
    </tr>
    <tr>
        <td><input type="checkbox" ng-checked="t.done" ng-click="" />&nbsp;</td>
        <td>D</td>
        <td>bla bla </td>
    </tr>
</table>
