<!-- Main Section -->
<section id="team">
    <div ng-show="loading && !failDb"><img ng-src="../img/loading_spinner.gif" class="spinningwheel" /></div>
    <div class="spinningwheel">
        <div ng-show="loading && !failDb" class="spinner-loader"></div>
        <div ng-show="!loading && failDb">
            <span class="text-center" ng-model="failDbMessage">{{failDbMessage}}</span>
        </div>
    </div>
    <div class="container" ng-show="!loading && !failDb">
        <div class="row team-name">
            <table>
                <tr>
                    <td class="tid section-heading bottom text-center">
                        <p class="element-heading">Team {{team.teamNumber}}: <br>{{team.teamName}}</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row" ng-repeat="member in team.members | isUser:userId">
            <div class="memberMe">
                <div ng-include="'partials/team_member.html'"></div>
            </div>
        </div>
        <div class="row" ng-repeat="member in team.members | isNotUser:userId">
            <div class="member">
                <div ng-include="'partials/team_member.html'"></div>
            </div>
        </div>
    </div>
    <div ng-hide="mv.loggedIn" ng-include="'partials/footer_team.html'"></div>
</section>
