<!-- Main Section -->
<section id="welcome">
    <div class="banner">
        <img class="banner-image" src="img/alten_nya_huset.png">
        <div class="banner-overlay">
            <h1>Destination Lindholmen</h1>
            <h6>Dags att fira in vårt nya kontor </br> och träffa nya kollegor!</h6>
        </div>
    </div>
    <div class="container">
        <div class="row"> 
		<div class="col-sm-4 toppadding">
                    <i class="fa fa-users fa-5x altenblack"></i> <h3 class="section-heading text-muted text-center">Team</h3>
			<p class="text-center altenblack">I ditt team har vi matchat ihop dig med profiler som passar dig. 
                            Ditt team ligger redo i appen och är en spännande blandning av kollegor från olika städer och avdelningar. 
                            Titta vilka ni är!</p>
		</div>

		<div class="col-sm-4 toppadding">
                    <span class="glyphicon glyphicon-list altenblack"></span><h3 class="section-heading text-muted text-center">Uppgifter</h3>
			<p class="text-center altenblack">Ditt team har ett antal uppgifter att utföra. 
                            Vissa passar på distans och kan utföras dagarna innan eller på vägen till festen, 
                            andra lämpar sig bättre under dagen, det märker ni snart! 
                            Lös så många ni vill, på vilket sätt ni vill!</p>
		</div>
         
                   <div class="col-sm-4 toppadding">
			<i class="fa fa-bar-chart fa-5x altenblack"></i><h3 class="section-heading text-muted text-center">Poängtavla</h3>
			<p class="text-center altenblack">Vi är uppemot 800 deltagare uppdelade i nästan 100 olika team. Vem klarar att lösa flest uppgifter? 
                            Skicka in era svar och se hur ni ligger till jämfört med andra team!</p>
                </div>
        </div>
        <div class="row">
		 <div class="col-sm-4 toppadding">
			<span class="glyphicon glyphicon-calendar altenblack"></span><h3 class="section-heading text-muted text-center">Konferensinfo</h3>
			<p class="text-center altenblack">Vad händer egentligen under dagen och vad är hållpunkterna för konferensen? 
                            Här finns allt du vill veta!</p>
		</div>
            
            <div class="col-sm-4 toppadding">
			<span class="glyphicon glyphicon-home altenblack"></span><h3 class="section-heading text-muted text-center">Festinfo</h3>
			<p class="text-center altenblack">Vi har kartan du behöver för att maximera din
				festupplevelse!</p>
		</div>
                    
                    
            
            <div class="col-sm-4 toppadding">
			<span class="glyphicon glyphicon-info-sign altenblack"></span><h3 class="section-heading text-muted text-center">Info</h3>
			<p class="text-center altenblack">Något som känns oklart? Ingen fara, här hittar du all
                            information om appen och hur du använder den.</p>
                </div>
        </div>
        
        
            
            <div class="row text-center toppadding">
		<form action="#register">
                    <input class="btn btn-xl" type="submit" value="Nu kör vi!">
		</form>
            </div>
       
    </div>
</section>