<!-- Main Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Destination Lindholmen</h2>
            </div>
        </div>
        <div class="row">
            <p class="text-justify">
                Vi är glada att hälsa er välkomna till Destination Lindholmen 
                - en för oss att fira in vårt nya kontor och också en ypperlig 
                chans för oss att träffas över avdelningar och över städer. 
                Vilka är egentligen era kollegor, och vad har ni gemensamt? 
                Det ska vi ta reda på idag!  
            </p>
        </div>

        <div class="row">
            <h3 class="section-subheading text-muted">Team</h3>
            <p class="text-justify">
                Ditt team ligger redo i appen och är en spännande blandning 
                av kollegor från olika städer och avdelningar. Starta nu för 
                att se vilka de är!  
            </p>            
        </div>

        <div class="row">
            <h3 class="section-subheading text-muted">Uppgifter</h3>
            <p class="text-justify">
                Ert team har ett antal teamuppgifter att utföra. Vissa passar 
                bäst på distans och kan utföras redan dagarna innan eller på 
                vägen till festen, andra lämpar sig att göra uder dagen, det 
                märker ni snart!   
            </p>            
        </div>

        <div class="row">
            <h3 class="section-subheading text-muted">Schema</h3>
            <p class="text-justify">
                Vad händer egentligen under dagen? Här finns all information 
                ni behöver!  
            </p>            
        </div>

        <div class="row">
            <h3 class="section-subheading text-muted">Kontoret</h3>
            <p class="text-justify">
                Vårt nya kontor kommer få en helt ny skepnad under kvällen 
                och även ni som besökt det innan kommer få en hel del 
                överraskningar. Vi har kartan ni behöver för att maximera er 
                lindholmenupplevelse! 
            </p>            
        </div>


        <div class="row text-center">
            <form action="#register">
                <input class="btn btn-primary" type="submit" value="Nu kör vi">
            </form>
        </div>
    </div>
</section>
