<!-- Main Section -->
<section id="welcome">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Destination Lindholmen</h2>
			</div>
		</div>
		<div class="row">
                    <div class="col-sm-12">
			<p class="text-justify altenblue">Vi är glada att hälsa er välkomna till Destination Lindholmen - 
                            en dag för oss att fira in vårt nya kontor och också en ypperlig chans för oss att 
                            träffas över avdelningar och över städer. Med över 1100 anställda är det inte så lätt 
                            att veta vilka ens kollegor är och vad ni har gemensamt. Men det ska vi nu ta reda på!</p>
                        </div>
                </div>
	<div class="row"> 

		<div class="col-sm-4 toppadding">
                    <span class="glyphicon glyphicon-user altenblue"></span> <h3 class="section-heading text-muted text-center">Team</h3>
			<p class="text-justify altenblue">Baserat på just dina egenskaper har vi genererat ditt team genom 
                            att matcha dig med profiler som är intressanta för just dig. Ditt team ligger redo i appen och 
                            är en spännande blandning av kollegor från olika städer och avdelningar. Starta nu för att se vilka ni är!</p>
		</div>

		<div class="col-sm-4 toppadding">
                    <span class="glyphicon glyphicon-th-list altenblue"></span><h3 class="section-heading text-muted text-center">Uppgifter</h3>
			<p class="text-justify altenblue">Ert team har ett antal teamuppgifter att utföra. 
                            Vissa passar bäst på distans och kan utföras redan dagarna innan eller på vägen 
                            till festen, andra lämpar sig att göra under dagen, det märker ni snart! 
                            Lös så många ni vill, på vilket sätt ni vill!</p>
		</div>
         
                   <div class="col-sm-4 toppadding">
			<span class="glyphicon glyphicon-education altenblue"></span><h3 class="section-heading text-muted text-center">Poängtavla</h3>
			<p class="text-justify altenblue">Se hur du ligger till jämfört med andra team!</p>
                </div>
        </div>
        <div class="row">
		 <div class="col-sm-4 toppadding">
			<span class="glyphicon glyphicon-calendar altenblue"></span><h3 class="section-subheading text-muted">Konferensinfo</h3>
			<p class="text-justify altenblue">Vad händer egentligen under dagen och vad är hållpunkterna för konferensen? 
                            Här finns all information ni behöver!</p>
		</div>
            
            <div class="col-sm-4 toppadding">
			<span class="glyphicon glyphicon-home altenblue"></span><h3 class="section-subheading text-muted">Festinfo</h3>
			<p class="text-justify altenblue">Vårt kontor kommer få en helt ny
				skepnad under kvällen och även ni som besökt det innan kommer få en
				hel del överraskningar. Vi har kartan ni behöver för att maximera er
				lindholmenupplevelse!</p>
		</div>
                    
                    
            
            <div class="col-sm-4 toppadding">
			<span class="glyphicon glyphicon-info-sign altenblue"></span><h3 class="section-subheading text-muted">Info</h3>
			<p class="text-justify altenblue">Hitta information om appen och hur du använder den.</p>
                </div>
        </div>
		<div class="row text-center"> 
			<form action="#register">
				<input class="btn btn-xl" type="submit" value="Nu kör vi">
			</form>
		</div>
	</div>
</section>
